<!DOCTYPE html>
<html>
<head>
	<title>Booklist</title>
	<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Books</h1>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Year</th>
				<th>Isbm</th>
				<th>Price</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each = "book : ${books}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.isbm}"></td>
				<td th:text="${book.price}"></td>
				<td><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/add" class="btn btn-primary btn btn-succes">Add Book</a>
</body>
</html>